* {
  box-sizing: border-box;
}

body {
  padding-left: 140px;
  padding-right: 140px;
  background-image: url(/DesignWEbsite/54-549491_background-for-food-website.jpg);
  background-size: cover;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  overflow: hidden;
  background-color: rgb(78, 113, 132);
}

h1 {
  float: left;
  padding: 20px;
  margin: 0;
}

.content a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 30px 20px;
}

.content a:hover {
  background-color: #ddd;
}

.search {
  float: right;
  padding: 20px;
}

.search input[type="text"] {
  padding: 10px;
  margin-right: 10px;
}

.search button {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  h1 {
    padding: 20px;
  }

  .content a {
    padding: 30px 10px;
  }

  .search {
    padding: 10px;
  }

  .search input[type="text"] {
    padding: 5px;
    margin-right: 5px;
  }

  .search button {
    padding: px;
  }
}
.logo {
  float: left;
  width: 50px;
  height: auto;
  position: absolute;
}
.text {
  margin-top: 50px;
  text-align: center;
}

h2 {
  color: #faf5f5;
  font-size: 28px;
  margin-bottom: 10px;
}

h5 {
  color: #dfd8d8;
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  color: #eee5e5;
  font-size: 16px;
  line-height: 1.6;
}

.food {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.product {
  border-radius: 8px;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-image: url(/DesignWEbsite/079979700_1587487794-Sajiku_1.jpg);
}
.product1 {
  border-radius: 8px;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-image: url(/DesignWEbsite/60f8b994e052d.jpg);
}
.product2 {
  border-radius: 8px;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-image: url(/DesignWEbsite/066100900_1644554867-shutterstock_1984582070.jpg);
}
.product3 {
  border-radius: 8px;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-image: url(/DesignWEbsite/resep-bakso-goreng.jpg);
}

.product h3 {
  margin-top: 40px;
}

.product p {
  color: rgb(0, 0, 0);
  margin-top: 5px;
  font-size: 14px;
}

.banner {
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2b32b2, #1488cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;
  border-radius: 50px;
  margin: 25px;
}

.table {
  width: 100%;
  background-image: url(/DesignWEbsite/079979700_1587487794-Sajiku_1.jpg);
  border: solid white;

  padding: 50px;
  padding-left: 400px;
  border-radius: 100px;
}
iframe {
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  overflow: hidden;
  background-color: rgb(78, 113, 132);
  list-style-type: none;
  margin-top: 250px;
}
.kontak {
  height: 350px;
  color: #ddd;
  background-image: url(/DesignWEbsite/istockphoto-1334844140-612x612.jpg);
}
